.obsidian

# 忽略Obsidian笔记软件的导出检查点文件
**/.export_checkpoint.json

# 忽略IDE和系统文件
.vscode/

# 忽略所有用户本地的Claude Code配置
.claude/settings.local.json


###  LFS文件忽略
计算机图书/编程语言/Android/Android开发进阶从小工到专家.pdf
计算机图书/编程语言/Android/Android进阶之光.pdf
计算机图书/编程语言/Android/钟世礼-深入解析ANDROID虚拟机.pdf
计算机图书/编程语言/Android/深入理解Android卷2.pdf
计算机图书/编程语言/Android/Android系统原理及开发要点详解.pdf
计算机图书/编程语言/Android/Android应用测试与调试实战.pdf
计算机图书/编程语言/Android/Android开发艺术探索.pdf
计算机图书/编程语言/Android/Android系统源代码情景分析.pdf
计算机图书/编程语言/Android/深入理解Android卷3.pdf
计算机图书/编程语言/Android/深入理解Android内核设计思想.pdf



